#body{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2px;
    justify-content: center;
}

.title {
    font-size: 100px;
    font-style: italic;
    background: linear-gradient(70deg, black, orange,black,red, black);
}

.navigation {
    border: 5px solid black;
    margin-right: 20px;
}

.features {
    border: 5px black solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
}

.spacing {
    padding: 10px;
    margin: 10px;
}