* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

.selection-header {
    font-size: 25px;
    text-align: center;
    color: black;
}

.submit {
    font-size: 25px;
    background-color: #C7EBF0;
    border-radius: 7px;
    margin-top: 10px;
    border: black 1px none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1.0);
}

.city-submit {
    font-size: 15px;
    background-color: #f39c6b;
    border-radius: 7px;
    margin-top: 10px;
    border: black 1px solid;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1.0);
    color: black;
}

/* End navigation styles */

/* Feature box styles */



/* End Feature box styles */

.tour-header {
    text-align: center;
    Font-size: 50px;
    color: black;
    font: bold;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 1.0);
}

/* start functional styles */

.flex-direction-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

.padding-small{
    padding: 5px;
    
}

.margin-medium{
    margin: 15px;
}

/* start design styles */

.background-color-primary{
    background-color: #F7F7F2;
}

.background-color-secondary{
    background-color: purple;
}

.border-box-primary{
    border-radius: 7px;
    border: 2px black solid;

}

.border-box-secondary{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 10px;
    font-size: 25px;
    border-radius: 7px;
    border: grey 1px dotted;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1.0);

}

.header {
    font-size: 100px;
    font-style: italic;
    color: #fff;
    background: linear-gradient(70deg, #8EE3EF, #AEF3E7, #E89005, #EC7505);
    text-align: center;
}

.text-color-primary{

}

.text-color-secondary{

}

.text-styles-primary{
    font-size: 26px;
    text-align: center;
    color: orange;

}

.text-styles-secondary{
    font-size: 20px;
    text-align: center;
    color: black;
    
    

}

.shadows-primary{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1.0);
}

.shadows-secondary{

}



